:root {
  --primary: #55FBFF;
  --secondary: #012B48;
  --gray-light: #F6F6F6;
  --gray-mid: #C5CADC;
  --gray-dark: #959EBB;
  --bodyText: var(--secondary);
  --bgColor: var(--gray-light);
  --buttonColor: var(--secondary);
  --buttonText: var(--primary);
  --buttonHoverColor: var(--primary);
  --buttonHoverText: var(--secondary);
  --inputColor: transparent;
  --inputBorder: var(--gray-mid);
  --inputHoverBorder: var(--secondary);
  --inputHoverColor: #fff;
  --taskCard: transparent;
  --taskText: inherit;
  --taskCardBorder: transparent;
  --taskCardHover: #fff;
  --taskCardHoverBorder: transparent;
  --taskCardActive: var(--taskCardHover);
  --taskCardActiveBorder: var(--gray-mid);
  --taskCardActiveHoverBorder: var(--secondary);
}

[data-theme="dark"] {
  --primary: #30EAEE;
  --secondary: #140E24;
  --bodyText: var(--gray-mid);
  --bgColor: var(--secondary);
  --buttonColor: var(--primary);
  --buttonText: var(--secondary);
  --buttonHoverColor: var(--secondary);
  --buttonHoverText: var(--primary);
  --inputBorder: var(--gray-dark);
  --inputHoverBorder: var(--primary);
  --inputHoverColor: transparent;
  --taskText: var(--gray-light);
  --taskCardBorder: #000;
  --taskCardHover: transparent;
  --taskCardHoverBorder: var(--gray-dark);
  --taskCardActive: transparent;
  --taskCardActiveBorder: var(--gray-dark);
  --taskCardActiveHoverBorder: var(--primary);
}

@tailwind base;

@tailwind components;

  * {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  *:hover {
    transition: all .35s ease;
  }

  body {
    background-color: var(--bgColor);
    color: var(--bodyText);
  }

  .icon {
    @apply pointer-events-none;
  }

  button:disabled {
    @apply cursor-not-allowed;
  }

  .btn {
    @apply flex items-center justify-center rounded-lg uppercase font-bold;
  }

  .btn:focus {
    @apply outline-none shadow-outline;
  }

  .btn-control {
    @apply absolute border border-transparent rounded-full shadow w-8 h-8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--buttonColor);
    color: var(--buttonText);
  }

  .btn-control:hover {
    background-color: var(--buttonHoverColor);
    color: var(--buttonHoverText);
    border-color: var(--buttonHoverText);
  }

  footer a:hover {
    text-decoration: underline;
  }

@tailwind utilities;